.root {
    display: flex;
    background-color: #282828;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    background-color: transparent;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:hover h1 {
    color: #ffff;
}