.root {
    background-color: #282828;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282828;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    background-color: #282828;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

h1 {
    color: #1DB954
}

ul {
    color: white;
    overflow-y: scroll;
    height: 500px;
}