.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    background-color: white;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlistContainer {
    
}

.profile {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

h1 {
    color: #1DB954
}