.LoginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
}

.loginButton {
    background-color: #1DB954;
    width: 12vh;
    height: 5vh;
    font-size: large;
    border-radius: 20pc;
    border-color: black;
}