.track-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
}

.track-container h1 {
    font-size: 30px;
    padding-left: 25px;
}

a {
    color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a:hover h1 {
    color: #1DB954;
}